<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/styles/style.css">
    <title>Page not found</title>
</head>
<body>
 <div id="clouds">
            <div class="cloud x1"></div>
            <div class="cloud x1_5"></div>
            <div class="cloud x2"></div>
            <div class="cloud x3"></div>
            <div class="cloud x4"></div>
            <div class="cloud x5"></div>
        </div>
        <div class='c'>
            <div class='_404'>401</div>
            <hr>
            <div class='_1'>UNATHORIZED</div>
            <div class='_2'>USER</div>
            <a class='btn' href='/login'>BACK TO LOGIN</a>
        </div>
</body>
</html>