<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/admin.css">
    <title>Admin Page</title>
</head>
<body>
<div id = "main_container">
    <div id="header_info">
       <div class="info_blocks">
           <div class="info_text">
               <span> Total Users: </span>
           </div>
           <div class="info_number">
               <span>200 </span> </div>
       </div>
        <div class="info_blocks">
            <div class="info_text">Total Transactions:</div>
            <div class="info_number">10000</div>
        </div>
        <div class="info_blocks">
            <div class="info_text">Total Transactions:</div>
            <div class="info_number">10000</div>
        </div>
        <div class="info_blocks">
            <div class="info_text">Total Transactions:</div>
            <div class="info_number">10000</div>
        </div>

    </div>
    <div id="main_content">
        <div id="user_list">

             <h1>Users list </h1>
        </div>
        <div id="transaction_list">
            <h1>Last transactions </h1>
        </div>

    </div>
</div>
</body>
</html>