<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/style.css">
    <title>Main Page</title>
</head>
<body>

<div class="header_container">
    <h1> Header Part</h1>
</div>

<div class="main_container">
    <div class ="main_content">
        <h1>Main Content</h1>
    </div>
    <div class="side_bar">
        <h1>Side Bar</h1>
    </div>
</div>



</body>
</html>