<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/login.css">
    <script src="../static/javascript/login.js"></script>
    <title>Login</title>
</head>
<body>
<div id="myAlert" class="alert">
  <span  class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>

</div>
<div class="form-structor">
	<div class="signup">
		<h2 class="form-title" id="signup">Sign up</h2>
            <div class="form-holder">
                <input type="text" class="input" id="regName" placeholder="Name" required/>
                <input type="text" class="input" id="regSurname" placeholder="Surname" required/>
                <input type="email" class="input" id="regEmail" placeholder="Email" required/>
                <input type="password" class="input" id="regPassword" placeholder="Password" required/>
            </div>
            <button id="registerBtn" class="submit-btn" value="Login">Sign up</button>


    </div>
	<div class="login slide-up">

		<div class="center">

			<h2 class="form-title" id="login"><span>or</span>Log in</h2>
			<div class="form-holder">
				<input type="email" class="input" placeholder="Email" id="logEmail" />
				<input type="password" class="input" placeholder="Password" id="logPassword" />
			</div>
			<button id="loginInBtn" class="submit-btn">Log in</button>
		</div>

	</div>
</div>

</body>
</html>