<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
        <link rel="stylesheet" href="../static/styles/main_style.css">
         <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        <title>Invest recommendation</title>
    </head>
    <body>
        <div class="container">

            <div class="nav-bar">
                <div class="logo">
                    <img src="../static/images/assets/logo.png">
                    <h3>Chippi</h3>
                </div>
    
                <div class="username">
                    <h3 id="hi">Salom, Chippi</h3>
                </div>
    
                <div class="search-box">
                    <table class="element-container">
                        <tr>
                            <td>
                                <input type="text" placeholder="Qidiruv..." class="search" id="search">
                            </td>
                            <td>
                                <a href="#">
                                    <i class='bx bx-search-alt' ></i>
                                </a>
                            </td>
                        </tr>
                    </table>
                </div>

                <!-- working on a multi-lang of the page -->
                <div class="lang-menu">
                    <button onclick="changeToUz()">O'zbek</button>
                    <button onclick="changeToRu()">Русский</button>
                    <button onclick="changeToEng()">English</button>
                </div>
                
                <nav>
                    <div class="user-profile">
                        <img src="../static/images/assets/profile.jpg">
                        <p>chippi man</p>
                    </div>
                </nav>
    
            </div>
            
            <main>
                <header>
                        <img src="../static/images/assets/stock-price-icon.png">
                        <h1 id="market_prices">Bozor qiymatlari</h1>
                </header>

                <div class="stocks">

                    <ul id="one_ul">

                    </ul>

                </div>

            </main>

            <aside class="right-side">
                <div class="balance">
                    <div class="balance-info">
                        <h3 id="my_balance">Mening hisobim</h3>
                        <a onclick="changeIcon(this)" id="myBtn">
                            <i id="faPlus" class='bx bx-show'></i>
                            <span class="SPN" data-text="Balans: $56,756.00">Balans: $56,756.00</span>
                        </a>
                    </div>

                    <div class="card">
                        <div class="card-inner">
                            <div class="front">
                                <img src="https://i.ibb.co/PYss3yv/map.png" class="map-img">
                                <div class="row">
                                    <img src="https://i.ibb.co/G9pDnYJ/chip.png" class="chip">
                                    <img src="https://i.ibb.co/WHZ3nRJ/visa.png" class="card-type">
                                </div>
                                <div class="row card-no">
                                    <p>5244</p>
                                    <p>2150</p>
                                    <p>8252</p>
                                    <p>6420</p>
                                </div>
                                <div class="row card-holder">
                                    <p>CARD HOLDER</p>
                                    <p>VALID TILL</p>
                                </div>
                                <div class="row name">
                                    <p>chippi man</p>
                                    <p>10 / 25</p>
                                </div>
                            </div>
                            <div class="back">
                                <img src="https://i.ibb.co/PYss3yv/map.png" class="map-img">
                                <div class="bar"></div>
                                <div class="row card-cvv">
                                    <div>
                                        <img src="https://i.ibb.co/S6JG8px/pattern.png">
                                    </div>
                                    <p>824</p>
                                </div>
                                <div class="row card-text">
                                    <p>this is a virtual card design using HTML and CSS. You can aslo design something like this.</p>
                                </div>
                                <div class="row signature">
                                    <p>CUSTOMER SIGNATURE</p>
                                    <img src="https://i.ibb.co/WHZ3nRJ/visa.png" width="80px">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="cash-buttons">
                    <div class="withdraw">
                        <button class="withdraw">
                            <i class='bx bx-chevron-up-circle'></i>
                            <h4 id="withdraw">Yechib olish</h4>
                        </button>
                    </div>

                    <div class="deposit">
                        <button class="deposit">
                            <i class='bx bx-chevron-down-circle'></i>
                            <h4 id="deposit">Deposit</h4>
                        </button>
                    </div>
                </div>

                <div class="separator">
                    <h3 id="my_portfolio">Mening portfoliom</h3>
                </div>

                <div class="porfolio">
                    <div class="history">
                        <div class="item">
                            <div class="left-side">
                                <div class="icon">
                                    <img src="../static/images/assets/tesla.png">
                                </div>

                                <div class="details">
                                    <h5>Tesla, Inc.</h5>
                                    <p>$181.91</p>
                                </div>
                            </div>
                            <i class='bx bx-trending-down'></i>
                        </div>

                        <div class="item">
                            <div class="left-side">
                                <div class="icon">
                                    <img src="../static/images/assets/microsoft.png">
                                </div>

                                <div class="details">
                                    <h5>Microsoft Inc.</h5>
                                    <p>$402.92</p>
                                </div>
                            </div>
                            <i class='bx bx-trending-up'></i>
                        </div>

                        <div class="item">
                            <div class="left-side">
                                <div class="icon">
                                    <img src="../static/images/assets/nasa.png">
                                </div>

                                <div class="details">
                                    <h5>NASA</h5>
                                    <p>NaN</p>
                                </div>
                            </div>
                            <i class='bx bx-x'></i>
                        </div>

                    </div>
                </div>

            </aside>

        </div>

           <script>
        function isValidJSON(str) {
            try {
                JSON.parse(str);
                return true;
            } catch (e) {
                return false;
            }
        }

            // Function to fetch data from backend and update plot
            function fetchDataAndUpdatePlot() {
                fetch('/get-forecast')
                    .then(response => response.json())
                    .then(data => {
                        console.log(data);
                        console.log(data[1]);


                        for (let i = 0; i < data.length; i++) {
                            innerJson = JSON.parse(data[i + 1]);
                            var df = innerJson['df'];
                            console.log(df);
                            const jsonArray = JSON.parse(df);

                            // Initialize arrays to store x and y values
                            const date = [];
                            const yHat = [];

                            // Extract data for plotting
                            jsonArray.forEach(entry => {
                                // Extract x-value (timestamp) and convert it to a Date object
                                const timestamp = new Date(entry.ds);
                                date.push(timestamp);

                                // Extract y-values (e.g., yhat, yhat_lower, yhat_upper, etc.)
                                // Change 'yhat' to the property you want to plot
                                const yValue = entry.yhat;
                                yHat.push(yValue);
                            });

                            // Now, you can use xValues and yValues for plotting
                            console.log('X values:', date);
                            console.log('Y values:', yHat);
                            percentage = 0.8 * date.length;
                            const trace1 = {
                                x: date.slice(0, percentage),
                                y: yHat.slice(0, percentage),
                                name: "actual data",
                                type: 'scatter',
                                mode: 'lines+markers',
                                marker: {color: 'blue'},
                                line: {width: 1}
                            };
                            const trace2 = {
                                x: date.slice(percentage),
                                y: yHat.slice(percentage),
                                name : "future data",
                                type: 'scatter',
                                mode: 'lines+markers',
                                marker: {color: 'green'},
                                line: {width: 1}
                            };

                            const traces = [trace1, trace2]

                            const layout = {
                                title: innerJson['stock_name'],
                                xaxis: {title: 'Date'},
                                yaxis: {title: 'Price'},
                                showlegend: true,
                                annotations: [{
                                xref: 'paper',
                                yref: 'paper',
                                x: 1,
                                xanchor: 'left',
                                y: 0.7,
                                yanchor: 'bottom',
                                text: "Rate : " + (i + 1) ,
                                showarrow: false
                              },
                                {
                                xref: 'paper',
                                yref: 'paper',
                                x: 1,
                                xanchor: 'left',
                                y: 0.65,
                                yanchor: 'bottom',
                                text: "Accuracy : " + innerJson['accuracy'] ,
                                showarrow: false
                              },
                                 {
                                xref: 'paper',
                                yref: 'paper',
                                x: 1,
                                xanchor: 'left',
                                y: 0.6,
                                yanchor: 'bottom',
                                text: "Price : " +"$"+ innerJson['price'],
                                showarrow: false
                              }]


                            };

                            // Create a new div element for each plot
                            const div = document.createElement('div');
                            div.id = `plot_${i}`;  // Assign unique IDs to each div
                            div.className = 'charts_main_page';
                            div.style.width = '1200px';  // Set custom width
                            div.style.height = '500px';

                            const li = document.createElement('li')
                            ul_one = document.getElementById('one_ul');
                            li.appendChild(div);
                            ul_one.appendChild(li);

                            // Append the div to the body or another container

                            // Plot the data in the new div
                            Plotly.newPlot(div.id, traces, layout);
                            console.log('Working')
                        }
                    })
                    .catch(error => console.error('Error fetching data:', error));

        }

            // Call the function to fetch data and update plot on page load
            window.onload = fetchDataAndUpdatePlot;

    </script>
        <script src="../static/javascript/main_script.js"></script>
    </body>
</html>